<%- include('../partial/header', {
  title: '홈',
  script: [
    '/js/bowser.min.js',
    '/js/browser-opt.js'
  ]
}) %>
<header class="text-only">
  <h1> 홈 </h1>
</header>
<main>
  <div class="content">
    <div class="text-center">
      <button class="btn" onclick="location.href='<%- login? "./" : "https://p.eagate.573.jp/gate/p/login.html" %>';">
        <%- login? "제어판으로 이동" : "갱신을 위해 로그인" %>
      </button>
    </div>
	<br>
    <div>
      또는
    </div>
	<br>
    <div class="text-center">
	  <input type="text" id="vs0"<%- login? " placeholder=\""+nickname+"\"" : "" %>>
      <button class="btn" onclick="location.href='http://android.kano.kr/sdvx/'+(vs0.value?vs0.value:vs0.placeholder);">
        조회
      </button>
    </div>
	<br>
	<div>
      또는
    </div>
	<br>
    <div class="text-center">
	  <input type="text" id="vs1"<%- login? " placeholder=\""+nickname+"\"" : "" %>><br>
	  vs<br>
	  <input type="text" id="vs2"><br>
      <button class="btn" onclick="location.href='http://android.kano.kr/sdvx/'+(vs1.value?vs1.value:vs1.placeholder)+'/vs/'+vs2.value">
        비교
      </button>
    </div>
  </div>
</main>
<% if(typeof error === 'string') { %>
  <%- include('../partial/error', {
        error: error
      }) %>
<% } %>
<%- include('../partial/nav') %>
<%- login? include('../partial/aside/control',{home: true}) : include('../partial/aside/login') %>
<%- include('../partial/footer') %>
